<h1>Bills</h1>

<%= link_to 'Add new bill', new_bill_path() %>
<table>
<tr>
<th>Bill id</th>
<th>Products listed</th>
<th>Categories</th>
<th>Actions</th>
</tr>
<% @bills.each do |bill|%>
<tr>
<td><%= bill.id%> </td>
<td><%= bill.products.count%></td>
<td><%= (bill.categories.collect {|cat| category_name(cat)}).uniq.join(', ') %></td>
<td>
	<%= link_to 'Show', bill_path(bill.id)%>
	<%= link_to 'Remove', bill_path(bill.id),:method => :delete %>
</td>
</tr>
<%end%>
</table>